@font-face {font-family: "Futura LT Bold";
  src: url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.eot"); /* IE9*/
  src: url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.woff2") format("woff2"), /* chrome、firefox */
  url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.woff") format("woff"), /* chrome、firefox */
  url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./FuturaLTBold/70700c84f783f6dcb8459abcfb6d9d02.svg#Futura LT Bold") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Futura LT Light";
  src: url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.eot"); /* IE9*/
  src: url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.woff2") format("woff2"), /* chrome、firefox */
  url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.woff") format("woff"), /* chrome、firefox */
  url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./FuturaLTLight/6daaeacf369f5c15f3308f379ab05b77.svg#Futura LT Light") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Futura LT Medium";
  src: url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.eot"); /* IE9*/
  src: url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.woff2") format("woff2"), /* chrome、firefox */
  url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.woff") format("woff"), /* chrome、firefox */
  url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./FuturaLTMedium/12fd3b0603f2ab22d6bf2bed80521841.svg#Futura LT Medium") format("svg"); /* iOS 4.1- */
}