@media (max-width: 576px) {
	section.search-box {
		.scroll-down{
			font-size: 12px;
		}
		}
	header.site-header{
		height:130px !important;
		padding-top: 32px;
		padding-bottom: 21px;
		img.logo{
			width: 53%;
		}
		.right-btns{
			text-align: center !important;
			top: 85px;
    		left: 0px;
    		right: 0px;
    		.signup-btn{
    			padding: 5px 10px;
    			font-size: 8px;
    			margin-right: 5px;
    		}
    		.signin-btn{
    			padding: 5px 10px;
    			font-size: 8px;
    		}
		}
	}
	section.search-box{
		padding-top:  43px;
		padding-bottom: 40px;
		.section-head{
			font-size: 14px;
		}
		.section-slogan{
			font-size: 10px;
			padding-top: 0px;
		}
	
	form#select-category-form{
		width: 100% !important; 
		margin-top: 10px !important;
    .select2-container{
      width: 100%;
      height: 28px !important;
      .select2-selection--single{
        height: 28px !important;
        padding: 8px 0px 8px 15px !important;
        .select2-selection__rendered{
          height: 28px !important;
          line-height: normal !important;
          font-size: 8px !important;
          letter-spacing: 0 !important;
        }
        .select2-selection__arrow{
          width: 23px !important;
          height: 26px !important;

          	b{
          		border-width: 4px 3px 0 3px !important;
        }
			
	  }
     }
	}
}
	button.search{
		height: 28px !important;
		font-size: 12px !important;
		}
	.buttons-block{
		margin-top: 20px !important;
		a.signup-btn{
		width: 105px !important;
		height: 30px !important;
		font-size: 9px !important;
		margin-top: 0px;
		line-height: 25px !important;
		margin-right: 10px !important;
		}
		a.more-btn{
		width: 105px !important;
		height: 30px !important;
		font-size: 9px !important;
		margin-top: 0px;
		line-height: 25px !important;

		}
	}
	.xs-select-block{
		padding-left: 7px !important;
	}
	.xs-select-block-1{
		padding-right: 7px !important;
	}
	.scroll-down{
		margin-top: 40px !important;
		font-size: 12px;
	}
}
section.top-picks{
	.container{
				padding-left: 38px !important;
				padding-right: 38px !important;
			}
		.section-head{
			font-size: 16px;
			line-height: 0px;
		}
		.section-slogan:after{
			border:2px solid #881811;
			width: 70px;
		}
		.section-slogan{
			font-size: 11px;
			padding-top: 10px;
			padding-bottom: 40px;
		}
		.top-items{
			margin-top: 40px;
			padding-bottom: 40px !important;
			.top-item{
      margin-bottom: 28px !important;
      .item-img{
        height: 149px !important;
        &.left{
          .brand-name{
            right: 20px;
            bottom: 13px;
            font-size: 11px;
          }
        }
        &.right{
          .brand-name{
            left: 20px;
            bottom: 13px;
            font-size: 11px;
          }
        }
      }
      .item-title{
      	padding: 0;
        .row{
          height: 58px !important;
          .title-text{
            font-size: 16px;
          }
        }
      }
    }
		}
	}
	section.popular-manufactures{
		padding-bottom: 45px;
		.section-slogan{
			padding: 0px;
			font-size: 14px;
		}
  		.manufactures-box{
	    margin: 5px -15px 0 -15px;
	    .manufacture-item:nth-child(2n+1){
	      	padding-right: 8px !important;
	      	padding-left: 30px !important;
	      }
	    .manufacture-item:nth-child(2n){
	      	padding-left: 8px !important;
	      	padding-right: 30px !important;
	      }
	    .manufacture-item{
	      padding: 0 15px;
	      height: 33px;
	      margin-top: 18px;

	      a{
	        height: 33px;
	        line-height: 33px;
	        font-size: 6px;
	        letter-spacing: 1px;
	      }

	    }
	  }
	}
	section.recent-list{

		padding-bottom: 0px;
		.section-head{
			font-size: 20px;
		}
		.section-slogan:after{
			border:0px;
		}
		.section-slogan{
			font-size: 12px;
			padding: 0px;
		}
	
	.product-list{
		margin-top: 0px;
		div{
			padding: 0px 52px;
		}
		.product-item{
			padding: 0px !important;
			.product-name{
				font-size: 12px !important;
				margin-top: 26px;
				padding-top: 0px !important;
			}
			.product-image{
				height: 249px !important;
			}
			.product-price{
				margin-top: 0px;
				font-size: 24px !important;
			}
			.product-link a{
				width: 125px !important;
				height: 30px !important;
				font-size: 10px !important;
				line-height: 25px !important;
			}
		}
	}
}
	section.source{
		display:none;
	}
	section.seen-in{
		padding-top: 0px;
		.section-head{
			font-size: 12px;
			line-height: 5px;
		}
		.section-slogan{
			font-size: 7px;
				line-height: 5px;
				padding-top: 10px;
				padding-bottom: 18px;
		}
		.section-slogan:after{
			border-bottom:2px solid #881811;
			width: 34px;
		}

		.images-sein-in{
			padding-top: 8px;
			.vogue{
				height: 12px;
				width: 45px;
				margin-left:12px;
			}
			.ft{
				height: 5px !important;
				width: 70px;
				margin-left:12px;
			}
			.wsj{
				height: 12px;
				width:30px;
				margin-left:12px;
			}
			.bloomberg{
				height: 12px;
				width: 45px;
				margin-left:12px;
			}
			.forbes{

				height: 12px;
				width: 45px;
				margin-right:17px;
				margin-left: 12px;
			}
		}
	}
	section.how-works{
		background-color: #000000 !important;
		background-image: none;
		height: 442px;
		padding: 158px 52px 158px 52px;
		text-align: center;
		.container{
			padding: 0px!important;
		.section-slogan{
			font-size: 21px;
			padding: 0px;
		}
		a.works-link{
			width: 258px;
			height: 49px;
			padding: 16px 0px 16px 0px;
			line-height: 15px;
			font-size: 13px;
			margin-top: 50px;
		}
	}
	}
	footer.site-footer{
	padding-top: 64px;
		.container{
			.row{
		
			.foter-text:nth-child(2n+1){
				padding-left: 53px !important;
				padding-right: 0px !important;
			}

			.foter-text:nth-child(2n){
				padding-left: 0px !important;
				padding-right: 38px !important;
			}
			.foter-text{
				margin-bottom: 44px;
			}
			.munu-title{
				font-size: 20px;
				padding-bottom: 23px;
				margin-bottom: 0px;
			}
		}
		.foter-text-2{
			text-align: center;
			padding-right: 38px;
			padding-left: 38px;
		}
	}
	.subscrube-box{
		.subscribe-form{
			padding-left: 16px;
			padding-right: 16px;
			.subscribe-input{
				width: 100%;
				text-align: center;
			}
			.subscribe-btn{
				width: 100%;
				font-size: 11px;
				margin-top: -1px;
			}
		}
	}
	.footer-bottom{
		margin-top: 25px;
		.tramenarks{
			margin-top: 0px;
			padding-left: 18px;
			padding-right: 18px;
		}
		.policy{
			text-align: center;
		}
		.copyright{
			text-align: center;
		}
	}
	
	}
.post-category-head{
	font-size: 16px;
	margin-bottom: 28px;
}

section.category-filter{
		background-color: #1B1B1B;
		background-image: none;
		padding-top: 70px;
		height: auto;
		padding-bottom: 149px;
		.filter-item{
			padding-left: 52px;
			padding-right: 52px;
			margin-top: 27px;
			height: 50px;
			.select2-container{
				.select2-selection--single{
					padding: 15px 0px 15px 18px;
					.select2-selection__rendered{
						height: auto;
						line-height: 19px !important!
					}
				}
			}
			button.search-btn{
				margin-top: 55px;
				font-size: 12px;
			}
		}
	}
	section.sponsored{
		padding-top: 55px;
		.post-category-head{
			text-align: center !important;
			font-size: 20px;
			margin-bottom: 0px;
		}
	}
	section.newest-listed{
		padding-top: 1px;
		.post-category-head{
			display: none;
		}
	}

	.product-list{
			margin-top: 55px !important;
			.pr-it:nth-child(2n+1){
				padding-left: 12px;
				padding-right: 12px;
			}
			.pr-it:nth-child(2n){
				padding-right: 12px;
				padding-left: 12px;
			}
			.product-item{
				padding: 0px;
				margin-bottom: 54px !important;
				.product-image{
					height: 142px;
					padding: 0px;
				}
				.product-name{
					font-size: 8px;
/*					height: 23px !important;*/
					padding-top: 10px;
					margin-top: 0px;
					overflow: hidden;
				}
				.product-price{
					font-size: 11px;
					padding-left:10px;
					padding-right: 10px; 
				}
				.product-link{
					a{
						width: 62px;
						height: 15px;
						font-size: 6px;
						line-height: 10px;
						margin-top: 7px;
					}
				}
			}
		}
		.post-brand{
			padding-bottom: 45px !important;
			.section-head:after{
				border:0px;
			}
			.section-head{
				font-size: 16px;
				padding-bottom: 43px;
				padding-top: 31px;
			}
			img{
				height: 190px;
				margin-top: 0px !important;
				margin-left: 8px !important;
				margin-right: 8px !important;
				max-width: none !important;
			}
			.brand-description{
				font-size: 16px;
				margin-top: 0px !important;
				margin-left: 35px;
				margin-right: 35px;
				max-width: none !important;
			}
		}
		section.how-works-content {
			padding-bottom: 0px;
			.container{
				padding-right: 35px;
				padding-left: 35px;
			}
			.section-head:after{
				border:0px;
			}
			.section-head{
				padding-top: 35px;
				font-size: 16px;
				padding-bottom: 15px;
			}
			.how-works-item{
				margin-top: 43px;
				img{
					height: 100% !important;
				}
			}
			.text-white{
				padding-top: 0px !important;
			section.how-works-content{
				padding-bottom: 105px;
				.container{
					padding: 0px;
				}
				.how-works-item{
					.text{
						font-size: 14px !important;
						padding: 26px 15px  0px 15px;
					}
				}
			}
			}
		}
		section.contact {
			padding-bottom: 56px;
			.section-head:after{
				border:0px;
			}
			.section-head{
				font-size: 16px;
				padding-bottom: 47px;
				padding-top: 60px;
			}
			.contact-phone{
				margin-top: 0px;
				font-size: 14px;
			}
			.contact-text{
				padding: 0px 22px 0px 22px;
				font-size: 14px;
			}
			.contact-form{
				.row{
				.contact-form-1{
						padding-left: 34px;
						padding-right: 8px;
				}
				.contact-form-2{
						padding-right: 34px;
						padding-left: 8px;
				}
			}
			.textarea-text{
				padding-left: 34px;
				padding-right: 34px;
			}
			 textarea{
			 	font-size: 5px;
			 	padding: 10px 10px 105px 10px !important;
			 	letter-spacing: 0px;
			}
			.button-cont{
			 	margin-left: 18px;
			 	margin-right: 18px;
			 }
			  button.update-btn{
			  	font-size: 8px;
			  	height: 27px;
			  }
			input.form-control{
					height: 27px !important;
					letter-spacing: 0px;
					line-height: 0px;
					padding-left: 10px !important;
					font-size: 5px;
					&::-webkit-input-placeholder{
						font-size:5px;
					}
				}
			
		}
		label{
			font-size: 6px !important;
		}
}
section.compare{
		.section-head{
			display: none;
		}
		.sub-head{
			display: none;
		}

				.product-list{
			margin-top:0px !important;
			padding-top: 40px;
			.pr-it-1:nth-child(2n+1){
				padding-left: 38px;
				padding-right: 12px;
			}
			.pr-it-1:nth-child(2n){
				padding-right: 38px;
				padding-left: 12px;
			}
			.product-item{
				padding: 0px;
				margin-bottom: 54px;
				.product-image{
					padding: 0px;
				}
				.product-name{
					font-size: 12px;
/*					height: 30px !important;*/
					padding-top: 10px;
					padding-right: 15px;
					padding-left: 15px;
					margin-top: 0px;
					overflow: hidden;
				}
				.product-price{
					font-size: 16px;
					padding-left:10px;
					padding-right: 10px; 
				}
			}
		}
	}
	section.product {
   .prod-left{
    padding-right: 15px;
   }
		padding-bottom: 40px;
		.product-btns {
			.my-col{
				margin-top: 15px;
			}
		}
			.product-description{
				.description-title{
					text-align: center;
				}
			}
			.prod-brand{
				text-align: center;
				padding-top: 50px;
			}
			.prod-name{
				text-align: center;
				font-size: 20px;
				padding-top: 20px;
			}
			.prod-code{
				font-size: 12px;
			}
			.prod-price{
				margin-top: 0px;
				font-size: 12px;
			}
			.prod-retail{
				font-size: 12px;
			}
			.prod-shop{
				margin-top: 10px;
				font-size: 20px;
				text-align: center;
			}
			.attr-box{
				.attr-title:after{
					border:0px;
				}
				.attr-title{
					font-size: 16px;
					margin-top: 5px;
					padding-bottom: 10px;
				}
				.attr-list{
					margin-top: 10px;
				}
			}
		}
	section.shop-update{
		.add-pr-1{
  		  height: 40px !important;
  		  margin-top: 20px !important;
		}
		.shop-fields{
			.form-group{
				button.update-btn{
	 				height:40px !important;
	 				margin-top: 20px;
		 			}
				 }
			}
		}
}

@media (min-width: 576px) and (max-width: 767.98px){

	section.product {

   .prod-left{
    padding-right: 0px;
    margin-top: 40px;
   }
		padding-bottom: 40px;
		.product-btns {
			.my-col{
				margin-top: 15px;
			}
		}
			.product-description{
				.description-title{
					text-align: center;
				}
			}
			.prod-brand{
				text-align: center;
				padding-top: 50px;
			}
			.prod-name{
				text-align: center;
				font-size: 20px;
				padding-top: 20px;
			}
			.prod-code{
				font-size: 12px;
			}
			.prod-price{
				margin-top: 0px;
				font-size: 12px;
			}
			.prod-retail{
				font-size: 12px;
			}
			.prod-shop{
				margin-top: 20px;
				font-size: 20px;
				text-align: center;
			}
			.attr-box{
				.attr-title:after{
					border:0px;
				}
				.attr-title{
					font-size: 16px;
					margin-top: 5px;
					padding-bottom: 10px;
				}
				.attr-list{
					margin-top: 10px;
				}
			}
		}
	header.site-header{
		.right-btns {
			text-align: center;
   			top: 135px !important;
    		left: 0px;
    		right: 0px;
    		.signup-btn{
    			padding: 10px 15px;
    			font-size: 9px;
    			margin-right: 10px;
    		}
    		.signin-btn{
    			padding: 10px 15px;
    			font-size: 9px;
    		}
		}
	}
	section.search-box{
		padding-top:  75px;
		.section-head{
			font-size: 28px;
		}
		.section-slogan{
			font-size: 22px;
			padding-top: 0px;
		}
	}
	form#select-category-form{
		width: 100% !important; 
		margin-top: 13px !important;
    .select2-container{
      width: 100%;
      height: 48px !important;
      .select2-selection--single{
        height: 48px !important;
        padding: 12px 0px 10px 15px !important;
        .select2-selection__rendered{
          height: 48px !important;
          line-height: normal !important;
          font-size: 14px !important;
          letter-spacing: 0 !important;
        }
        .select2-selection__arrow{
          width: 40px !important;
          height: 43px !important;
          	b{
          	border-width: 5px 4px 0 4px !important;
          }
        }
			
	  }
     }
	
	button.search{
		height: 48px !important;
		font-size: 14px !important;
	}

	.buttons-block{
		margin-top: 20px !important;
		a.signup-btn{
		width: 155px !important;
		height: 40px !important;
		font-size: 14px !important;
		margin-top: 0px;
		line-height: 34px !important;
		margin-right: 10px !important;
		}
		a.more-btn{
		width: 155px !important;
		height: 40px !important;
		font-size: 14px !important;
		margin-top: 0px;
		line-height: 34px !important;

		}
	}
}
section.seen-in{
	.section-slogan{
		padding-top: 0px;
		padding-bottom: 40px;
	}
	.images-sein-in{
			padding-top: 40px;
			padding-bottom: 20px;
			.vogue{
				height: 25px;
				width: 75px;
				margin-left:12px;
			}
			.ft{
				height: 13px !important;
				width: 110px;
				margin-left:12px;
			}
			.wsj{
				height: 20px;
				width:75px;
				margin-left:12px;
			}
			.bloomberg{
				height: 25px;
				width: 70px;
				margin-left:12px;
			}
			.forbes{

				height: 25px;
				width: 70px;
				margin-right:17px;
				margin-left: 12px;
			}
		}
}

section.source {
	.section-slogan{
		padding-bottom: 20px !important;
		padding-top: 0px;
		font-size: 24px;
		}
		.source-bg{
			.source-content{
				transform:translate3d(120px, 40px, 0);
			}
		}
	}
		footer.site-footer{
			.foter-text-2{
				padding-top: 40px;
				text-align: center;
			}
			.subscrube-box{
				.subscribe-form {
					.subscribe-btn{
						margin-left: -1px;
					}
				}
			}
			.footer-bottom{
				.justify-content-between{
					text-align: center;
				}
				.copyright{
					text-align: center;
				}
			}
		}
		.section-head{
			font-size: 36px;
		}
		.section-slogan{
			font-size: 24px !important;
		}
		section.top-picks{
			.top-items{
				 .top-item{
				 	.item-title{
				 		margin-bottom: 50px;
				 		.row{
				 			height: 220px;
				 		}

				 	}

				 }

			}
			}   
				.product-list{
			margin-top: 55px !important;
			.pr-it:nth-child(2n+1){
				padding-left: 12px;
				padding-right: 12px;
			}
			.pr-it:nth-child(2n){
				padding-right: 12px;
				padding-left: 12px;
			}
			.product-item{
				padding: 0px;
				margin-bottom: 54px;
				.product-image{
					padding: 0px;
				}
				.product-name{
					font-size: 12px;
/*					height: 30px !important;*/
					padding-top: 10px;
					padding-right: 15px;
					padding-left: 0px;
					margin-top: 0px;
					overflow: hidden;
				}
				.product-price{
					font-size: 16px;
					padding-left:10px;
					padding-right: 10px; 
				}
			}
		}

		.post-brand{
			padding-bottom: 45px !important;
			.section-head:after{
				border:0px;
			}
			.section-head{
				font-size: 24px;
				padding-bottom: 43px;
				padding-top: 31px;
			}
			img{
				height:250px;
				margin-top: 0px !important;
				max-width: none !important;
			}
			.brand-description{
				font-size: 18px;
				margin-top: 0px !important;
				margin-left: 35px;
				margin-right: 35px;
				max-width: none !important;
			}
		}
		section.how-works-content{
			padding-top: 40px;
				.how-works-item{
					.text{
						font-size: 18px !important;
						padding: 20px 50px !important;
					}
				}
			}
}
@media (min-width: 768px) and (max-width: 991px){
	header.site-header{
		height: 175px;
		.right-btns {
			text-align: center;
   			top: 135px !important;
    		left: 0px;
    		right: 0px;
			.signup-btn{
				margin-right: 15px;
			}
		}
	}
	section.search-box{
		padding-top:  115px;
		.section-head{
			font-size: 38px;
		}
		.section-slogan{
			font-size: 28px;
			padding-top: 0px;
		}

	}

	form#select-category-form{
		width: 100% !important; 
		margin: 10px 0px 0px 0px !important;
    .select2-container{
      width: 100%;
      height: 55px !important;
      .select2-selection--single{
        height: 55px !important;
        padding: 15px 0px 10px 15px !important;
        .select2-selection__rendered{
          height: 55px !important;
          line-height: normal !important;
          font-size: 16px !important;
          letter-spacing: 0 !important;
        }
        .select2-selection__arrow{
          width: 40px !important;
          height: 46px !important;
        }
			
	  }
     }
	}
	button.search{
		height: 55px !important;
		font-size: 18px !important;
	}
	section.seen-in{
	.images-sein-in{
			padding-top: 50px;
			padding-bottom: 40px;
			.vogue{
				height: 38px;
				width: 135px;
			}
			.ft{
				height: 17px !important;
				width: 140px;
				margin-left:22px;
			}
			.wsj{
				height: 40px;
				width:65px;
				margin-left:22px;
			}
			.bloomberg{
				height: 32px;
				width: 120px;
				margin-left:22px;
			}
			.forbes{

				height: 35px;
				width: 110px;
				margin-left: 22px;
			}
		}


}
section.source {
	.section-slogan{
		padding-bottom: 20px !important;
		}
		.source-bg{
			.source-content {
				transform:translate3d(30px, 40px, 0);
			}
		}
	}
section.popular-manufactures{
		.manufactures-box{
			.manufacture-item{
				a{
					font-size: 12px;
				}
			}
		}
		} 
.product-list{
	.product-item{
		.product-price  {
			font-size: 20px;
		}
	}
	} 
	footer.site-footer{
			.foter-text-2{
				padding-top: 40px;
				text-align: center;
			}
			.subscrube-box{
				.subscribe-form {
					.subscribe-btn{
						margin-left: -1px;
					}
				}
			}
			.footer-bottom{
				.justify-content-between{
					text-align: center;
				}
				.copyright{
					text-align: center;
				}
			}
		}

		.post-brand{
			padding-bottom: 45px !important;
			.section-head:after{
				border:0px;
			}
			.section-head{
				font-size: 28px;
				padding-bottom: 43px;
				padding-top: 31px;
			}
			img{
				margin-top: 0px !important;
				max-width: none !important;
			}
			.brand-description{
				font-size: 22px;
				margin-top: 0px !important;
				margin-left: 35px;
				margin-right: 35px;
				max-width: none !important;
			}
		}
		section.how-works-content{
			padding-top: 40px;
				.how-works-item{
					img{
						height: 100% !important;
					}
					.text{
						font-size: 18px !important;
					}
				}
			}
			section.product{
				padding-top: 60px;
			}

}
@media (min-width: 992px) and (max-width: 1199px){
	section.search-box{
		padding-top: 125px;
		.section-head{
			font-size: 48px;
			line-height: 45px;
		}
		.section-slogan{
			font-size: 28px;
			padding-top: 0px;
		}
	}

section.seen-in{
	.section-slogan{
		padding-top: 0px;
		padding-bottom: 40px;
	}
	.images-sein-in{
			padding-top: 40px;
			padding-bottom: 40px;
			.vogue{
				margin-left:15px;
			}
			.ft{ 
				width: 180px;
				margin-left:15px;
			}
			.wsj{
				margin-left:15px;
			}
			.bloomberg{
				width: 165px;
				margin-left:15px;
			}
			.forbes{
				width: 170px;
				margin-right:17px;
				margin-left: 12px;
			}
		}
}

		section.how-works-content{
				.how-works-item{
					.text{
						font-size: 28px !important;
					}
				}
			}
}

@media (min-width: 1200px){
		section.seen-in{
			.images-sein-in{
                padding-bottom: 23px;
				padding-top: 28px;
				img{
					margin: 21px 21px 27px 21px;
				}
			}
		}

}