@import url('https://fonts.googleapis.com/css?family=Quattrocento');

header.site-header{
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: white;
  img.logo{
    display: block;
    margin: 0 auto;
    width: 30%;
    max-width: 400px;
  }
  .right-btns{
    position: absolute;
    top: 70px;
    right: 40px;
    text-align: right;
    .signup-btn{
      font-family: "futura-pt";
      font-size: 12px;
      text-transform: uppercase;
      padding: 17px 28px;
      color: black;
      border: 3px solid black;
      letter-spacing: 2px;
      margin-right: 30px;
      text-decoration: none;
      font-weight: lighter;
      height: 48px;
      width: 115px;
    }
    .signin-btn{
      font-family: "futura-pt";
      font-size: 12px;
      text-transform: uppercase;
      padding: 17px 28px;
      color: black;
      border: 3px solid black;
      letter-spacing: 2px;
      text-decoration: none;
      font-weight: lighter;
      height: 48px;
      width: 115px;
    }
    .account-btn{
      border:0;
      background: transparent;
      color: rgba($color: black, $alpha: 0.8);
      font-family: "futura-pt";
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      outline: none;
      font-weight: lighter;
    }
  }
}
.section-head{
  font-family: "futura-pt";
  font-size: 55px;
  color: black;
  text-align: center;
  font-weight: 400;
}
.section-slogan{
  font-family:"futura-pt";
  font-size: 35px;
  padding: 15px 25px;
  color: black;
  text-align: center;
  font-weight: lighter;
}
section.search-box{
  background: url("/images/search-bg.png") center top/contain no-repeat, white;
  padding: 253px 0 125px 0;
  .section-head{
    font-family: "acta-display";
    font-size: 55px;
    color:  black;
    text-align: center;
    font-weight: 400;
  }
  .section-slogan{
    font-family: "futura-pt";
    font-size: 35px;
    padding: 15px 25px;
    color: black;
    text-align: center;
    font-weight: lighter;
  }
  form#select-category-form{
    width: 65%;
    display: block;
    margin: 85px auto 0 auto;
    .select2-container{
      width: 100%;
      height: 65px;
      .select2-selection--single{
        height: 65px;
        background: white;
        border-radius: 0;
        padding: 0 60px 0 30px;
        cursor: pointer;
        .select2-selection__rendered{
          height: 65px;
          line-height: 62px;
          font-family: "futura-pt";
          font-weight: lighter;
          font-size: 18px;
          color: #181818;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        
        .select2-selection__arrow{
          width: 60px;
          height: 64px;
          border-left: 0;
          b{
            border-color: #000000 transparent transparent;
            border-width: 7px 6px 0 6px;
          }
        }
      }
    }
    button.search{
      width: 100%;
      height: 65px;
      background: #881811;
      border: 0;
      outline: 0;
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
  }
  .buttons-block{
    text-align: center;
    margin-top: 65px;
    a.signup-btn{
      width: 220px;
      height: 65px;
      display: inline-block;
      cursor: pointer;
      background: #881811;
      border: 0;
      outline: 0;
      font-size: 30px;
      color: white;
      text-align: center;
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      border: 3px solid #881811;
      line-height: 58px;
      letter-spacing: 2px;
      margin-right: 32px;
    }
    a.more-btn{
      width: 220px;
      height: 65px;
      display: inline-block;
      cursor: pointer;
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      color: black;
      line-height: 58px;
      box-sizing: border-box;
      border: 2px solid black;
      letter-spacing: 2px;
      text-decoration: none;
    }
  }
  .scroll-down{
    margin-top: 187px;
    color:black;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
  }
}
section.top-picks{
  background: white;
  .section-head{
    padding-top: 28px;
    text-transform: uppercase;
  }
  .section-slogan{
    font-size: 28px;
    padding-bottom: 96px;

    position: relative;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 4px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .top-items{
    margin: 80px 0 0 0;
    padding-bottom: 75px;
    .top-item{
      position: relative;
      .item-img{
        height: 350px;
        &.left{
          .brand-name{
            position: absolute;
            right: 33px;
            bottom: 30px;
            font-family: "futura-pt";
            font-weight: lighter;
            font-size: 25px;
            text-transform: uppercase;
            color: white;
          }
        }
        &.right{
          .brand-name{
            position: absolute;
            left: 33px;
            bottom: 30px;
            font-family: "futura-pt";
            font-weight: lighter;
            font-size: 25px;
            text-transform: uppercase;
            color: white;
          }
        }
      }
      .item-title{
        background: #881811;
        .row{
          height: 350px;
          .title-text{
            font-family: "futura-pt";
            font-weight: 500;
            font-size: 30px;
            color: white;
            text-align: center;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}


section.popular-manufactures{
  background: white;
  padding-bottom: 156px;
  .section-slogan{
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 2px;
    padding-bottom: 0px;
    letter-spacing: 1px;
  }
  .manufactures-box{
    margin: 35px -15px 0 -15px;
    .manufacture-item{
      padding: 0 15px;
      height: 60px;
      margin-top: 30px;
      a{
        display: block;
        background:#f5f5f5;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 14px;
        text-transform: uppercase;
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
      }
    }
  }
}
section.recent-list{
  background: white;
  padding-bottom: 100px;
  .section-head{
    text-transform: uppercase;
    font-size: 50px;
  }
  .section-slogan{
    font-size: 28px;
    padding-bottom: 56px;
    position: relative;
    padding-top: 0px;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}
.info{
  font-family: "futura-pt";
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 30px;
  text-align: center;
}
.product-item-other-img{
    padding-left: 15px;
    padding-right: 15px;
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 20px;
    }
    img:last-child{
        margin-right: 0;
    }
}
.pr-it{
    background-color:#f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.product-list{
  margin-top: 88px;
  .product-item{
    width: 100%;
    .product-image{
      width: 100%;
      background: white;
      display: flex;
      img{
        width: 100%;
        max-height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
      }
      a{
        margin: 0 auto;
      }
    }
    .product-items-decriptiom{
        border-right: 2px solid #2E2E2E;
    }
    .product-name{
      text-align: center !important;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Acta Display W01 Medium";
      font-size: 22px;
      text-align: left;
      letter-spacing: 1px;
      a{
          color: #ffffff;
          text-decoration: none;
      }
    }
    .product-price{
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Futura LT Bold";
      font-weight: lighter;
      font-size: 25px;
      text-transform: uppercase;
      color: black;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1;
    }
    .product-link{
      a{
        display: block;
        width: 125px;
        height: 30px;
        border: 2px solid black;
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 9px;
        text-transform: uppercase;
        color: black;
        text-align: center;
        line-height: 26px;
        text-decoration: none;
        cursor: pointer;
        margin: 13px auto 56px auto;
      }
    }
  }
}
section.source{
  background: white;
  padding-bottom: 60px;
  .section-head{
    text-transform: uppercase;
    font-size: 52px;
  }
  .section-slogan{
    font-size: 28px;
    padding-bottom: 56px;
    position: relative;
    padding-top: 0px;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .source-bg{
    height: 421px;
    background: url("/images/Image11.png") center/cover;
    margin-top: 58px;
    .source-content{
      width: 445px;
      height: 436px;
      background: white;
      transform: translate3d(133px, 50px, 0);
      padding-top: 46px;
      .source-content-head{
        font-family: "acta-display";
        font-weight: bold;
        font-size: 30px;
        color:black;
        text-align: center;
        padding-bottom: 22px;
        position: relative;
        text-transform: uppercase;
        &:after{
          display: block;
          content: '';
          width: 120px;
          border-bottom: 5px solid #881811;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
      .source-content-slogan{
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 14px;
        padding: 15px 32px;
        color: black;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 1px;
      }
    }
    .source-content-text{
      font-family: "acta-display";
      font-weight: bold;
      font-size: 30px;
      color: black;
      text-align: center;
      padding-bottom: 23px;
      position: relative;
      text-transform: uppercase;
    }
    a.source-more{
      display: block;
      width: 150px;
      height: 50px;
      border: 3px solid #881811;
      margin: 0 auto;
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 12px;
      color: black;
      text-align: center;
      line-height: 44px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
section.seen-in{
  background: white;
  padding: 86px 0 0px 0;
  .section-head{
    text-transform: uppercase;
    font-family: "futura-pt";
    font-size: 50px;
  }
  .section-slogan{
    font-size: 28px;
    padding-bottom: 56px;
    padding-top: 0px;
    position: relative;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
}
section.how-works{
  height: 670px;
  background-size: cover !important;
  background:url("/images/pendant.png") center no-repeat, white;
  padding: 242px 0 60px 0;
  .section-slogan{
    font-size: 28px;
    font-family: "futura-pt";
    font-weight: lighter;
  }
  a.works-link:focus,
  a.works-link:hover{
    text-decoration: none;
  }
  a.works-link{
    display: block;
    margin: 52px auto 0 auto;
    width: 354px;
    height: 66px;
    border: 2px solid black;
    font-family: "futura-pt";
    font-weight: lighter;
    font-size: 18px;
    color: black;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.post-brand{
  background: white;
  padding-bottom: 150px;
  .section-head{
    font-size: 24px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  img.brand-image{
    margin: 100px auto 0 auto;
    max-width: 80%;
    display: block;
  }
  .brand-description{
    max-width: 60%;
    margin: 50px auto 0 auto;
    font-family: "futura-pt";
    font-weight: normal;
    font-size: 30px;
    color: black;
    text-align: center;
  }
}
.post-category-head{
  font-family: "Acta Display W01 Medium";
  font-weight: 500;
  font-size: 25px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
section.category-filter{
  height: 450px;
  background: url("/images/MaskGroup5.png") center/cover, white;
  padding-top: 128px;

  .filter-item{
    margin-top: 30px;
    .select2-container{
      width: 100%;
      height: 50px;
      .select2-selection--single{
        height: 50px;
        background: white;
        border-radius: 0;
        padding: 0 50px 0 20px;
        cursor: pointer;
        .select2-selection__rendered{
          height: 50px;
          line-height: 48px;
          font-family: "futura-pt";
          font-weight: bold;
          font-size: 14px;
          color: #181818;
          text-transform: uppercase;
          letter-spacing: 1px;
          .select2-selection__clear {
            right: 40px;
            top: 0;
            opacity: 0.6;
          }
          .select2-selection__placeholder{
            color: black;
            font-weight: 900;
          }
        }
        .select2-selection__arrow{
          width: 40px;
          height: 48px;
          border-left: 0;
          b{
            border-color: #000000 transparent transparent;
            border-width: 7px 6px 0 6px;
            margin-left: -5px;
            margin-top: -5px;
          }
        }
      }
    }
    input.form-control{
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 0;
      padding: 0 12px 0 20px;
      font-family: "futura-pt";
      font-weight: lighter;
      font-weight: 900;
      font-size: 14px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
      &::-webkit-input-placeholder {
        color: black;
      }
      &::-moz-placeholder {
        color: black;
      }
      &:-ms-input-placeholder {
        color: black;
      }
      &:-moz-placeholder {
        color: black;
      }
      &:focus{
        border: 0;
        box-shadow: none;
      }
    }
    button.search-btn{
      width: 100%;
      height: 50px;
      background: #881811;
      border: 0;
      outline: 0;
      font-size: 15px;
      color: white;
      cursor: pointer;
    }
  } 
}
.refineby-style{
    font-family: "Acta Display W01 Medium";
    font-weight: 500;
    color: black;
    margin-bottom: 48px;
}
.filter-item-animate{
    height: 20px;
    overflow: hidden;
}
.filter-item{
    margin-bottom: 25px;
    .refineby-category-name{
        cursor: pointer;
        font-family: "Acta Display W01 Medium";
        font-weight: 500;
        color: black;
        border-bottom: 1px solid rgba(black, 0.25);
        padding-bottom: 4px;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 15px;
        font-family: "Futura LT Bold";
        .refineby-category-triangles{
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid black;
            float: left;
            margin-right: 17px;
            margin-top: 3px;
        }
    }
    .refineby-category-items{
        font-family: "Futura LT Bold";
        font-size: 10px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
    .checkbox-style{
        .cbx-md{
            margin-top: -4px;
            width: 10px !important;
            height: 10px !important;
        }
    }
    .checked-filter-items{
        background-color: #ffffff;
        display: block;
        width: 6px;
        height: 6px;
    }

}
section.sponsored{
  background: white;
  padding-top: 95px;
  padding-bottom: 60px;
}
section.newest-listed{
  background: white;
  padding-top: 130px;
  .post-category-head{
    text-align: left !important;
  }
  .product-item{
    margin-bottom: 30px;
  }
  .product-items-decriptiom{
    border-right: 2px solid white !important;
     .product-name{
       text-align: left !important;
        a{color: black ;
         }
    }
  }
}
section.compare{
  background-color: #181818;
  padding-bottom: 40px;
  .section-head{
    font-size: 24px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .sub-head{
    font-family: "futura-pt";
    font-weight: lighter;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
  }
  .product-item{
    margin-bottom: 80px;
  }
}
section.product{
   .prod-left{
    padding-right: 37px;
   }
  background-color: white;
  padding-bottom: 150px;
  .product-viewer{
    height: 425px;
    background: white;
    .thumbnail-left{
      width: 150px;
      float: left;
      padding: 30px;
      .thumbnail{
        overflow: hidden;
        height: 365px;
      }
      .slick-list{
        height: 365px;
        .slick-slide{
          height: calc( 365px / 3 );  
          padding: 5px 0;
          box-shadow: none !important;
          outline: none;
          img{
              object-fit: contain;
              width: 100%;
              height: 100%;
          }
        }
      }
      img{
        outline: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
        box-shadow: none !important;
      }
    }
    .images-right{
      width: unquote("calc( 100% - 150px )");
      float: right;
      height: 425px;
      padding: 30px;
      .slick-track{
        height: 365px;
        .slick-slide{
          box-shadow: none !important;
          outline: none;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .product-img{
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          margin: 0 auto;
          outline: none;
          box-shadow: none !important;
        }
      }
    }
  }
  .product-btns{
    margin: 20px -10px 0 -10px;
    .my-col{
      padding: 0 10px;
    }
    .seller-btn, .product-code{
      width: 100%;
      height: 50px;
      border: 3px solid black;
      background: transparent;
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 12px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .product-description{
    margin-top: 60px;
    .description-title{
      font-size: 22px;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "futura-pt";
    }
    .description-content{
      font-family: "futura-pt";
      font-size: 16px;
      font-weight: normal;
      color: black;
      margin: 30px 0 0 0;
    }
  }
  .prod-brand{
    font-family: "futura-pt";
    font-size: 25px;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .prod-name{
    font-family: "futura-pt";
    font-size: 23px;
    font-weight: lighter;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .prod-code{
    font-family: "futura-pt";
    font-size: 19px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .prod-price{
    font-family: "futura-pt";
    font-size: 25px;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .prod-retail{
    font-family: "futura-pt";
    font-size: 18px;
    font-weight: 400;
    color:black;
    letter-spacing: 2px;

  }
  .prod-shop{
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: "futura-pt";
  }
  .attr-box{
    margin-top: 30px;
    .attr-title{
      font-size: 17px;
      color:black;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 30px;
      letter-spacing: 1px;
      padding-bottom: 50px;
      position: relative;
      font-family: "futura-pt";
      &:after{
        display: block;
        content: '';
        width: 120px;
        border-bottom: 5px solid #881811;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .attr-list{
      margin-top: 50px;
      .attr-name, .attr-val{
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 16px;
        color:black;
        padding: 10px 15px;
        text-transform: capitalize;
      }
    }
  }
}
.pagination-pages{
  text-align: center;
  ul.pagination{
    display: inline-block;
    list-style: none;
    li{
      display: inline-block;
      &.page{
        a{
          display: block;
          width: 50px;
          height: 50px;
          border: 2px solid #464646;
          line-height: 46px;
          text-align: center;
          font-family: "futura-pt";
          font-weight: lighter;
          font-size: 18px;
          color: #464646;
          text-decoration: none;
        }
        &.active{
          a{
            background: #881811;
            border-color: #881811;
            color: white;
          }
        }
      }
      &:not(:first-child){
        margin-left: 20px;
      }
      &.prev, &.next{
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 40px;
        color: #95989a;
        line-height: 46px;
        transform: translateY(7px);
        a{
          font-family: "futura-pt";
          font-weight: lighter;
          font-size: 40px;
          color: #95989a;
          line-height: 46px;
          text-decoration: none;
        }
      }
      &.first, &.last{
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 18px;
        color: #95989a;
        line-height: 46px;
        a{
          font-family: "futura-pt";
          font-weight: lighter;
          font-size: 18/px;
          color: #95989a;
          line-height: 46px;
        }
      }
    }
  }
}
section.user-update{
  background-color: #181818;
  padding: 50px 0 150px 0;
  .section-head{
    font-size: 24px;
    padding-bottom: 50px;
    position: relative;
    text-transform: uppercase;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .profile-fields{
    margin-top: 50px;
    .form-group{
      input.form-control{
        width: 100%;
        height: 50px;
        background: white;
        border-radius: 0;
        padding: 0 12px 0 20px;
        font-family: "futura-pt";
        font-weight: 900;
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        &::-webkit-input-placeholder {
          color: black;
        }
        &::-moz-placeholder {
          color: black;
        }
        &:-ms-input-placeholder {
          color: black;
        }
        &:-moz-placeholder {
          color: black;
        }
        &:focus{
          border: 0;
          box-shadow: none;
        }
      }
      button.update-btn{
        width: 100%;
        height: 50px;
        background: #881811;
        border: 0;
        outline: 0;
        font-family: "Futura LT Light";
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        cursor: pointer;
      }
    }
  }
}
section.how-works-content{
  background-color: white;
  padding-bottom: 101px;
  .section-head{
    font-size: 24px;
    padding-bottom: 63px;
    position: relative;
    text-transform: uppercase;
    font-family: "acta-display";
    font-weight: bold;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
    .text-white{
        p{
          color: black !important;
        }
    
  }
  .how-works-item{
    margin-top: 130px;
    .image{
      img{
        width: 100%;
        height: 360px;
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 auto;
        -ms-flex-item-align: center !important;
        align-self: center !important;
      }
    }
    .text{
      font-family: "acta-display medium";
      font-weight: normal;
      font-size: 35px;
      color: black;
      margin-bottom: 24px;
      text-align: left;
      line-height: 1;
    }
    .text:nth-child(2n){
      padding: 40px 0px 0px 105px;
    }

    .text:nth-child(2n+1){
      padding: 40px 105px 0px 0px;
    }
  }
}
section.shop-update{
  background-color: #181818;
  padding: 70px 0;
  .section-head{
    font-size: 24px;
    padding: 50px 0;
    position: relative;
    text-transform: uppercase;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .add-product{
    width: 150px;
    height: 50px;
    background: #881811;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top:10px
  }
  .shop-fields{
    margin-top: 50px;
    .form-group{
      label{
        border-radius: 0;
        padding: 0 12px 0 0;
         font-family: "futura-pt";
        font-weight: 900;
        font-size: 14px;
        color: white;
      }
      input.form-control{
        width: 100%;
        height: 50px;
        background: white;
        border-radius: 0;
        padding: 0 12px 0 20px;
        font-family: "futura-pt";
        font-weight: 900;
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        &::-webkit-input-placeholder {
          color: black;
        }
        &::-moz-placeholder {
          color: black;
        }
        &:-ms-input-placeholder {
          color: black;
        }
        &:-moz-placeholder {
          color: black;
        }
        &:focus{
          border: 0;
          box-shadow: none;
        }
      }
      button.update-btn{
        width: 100%;
        height: 50px;
        background: #881811;
        border: 0;
        outline: 0;
        font-family: "futura-pt";
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
        cursor: pointer;
      }
    }
  }
}
.nav-tabs.shop-tabs{
  li.nav-item{
    a.nav-link{
       font-family: "futura-pt";
      font-weight: 700;
      font-size: 16px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 0;
      padding: 15px 25px;
      &.active{
        color: black;
      }
    }
  }
  
}
section.contact{
  background-color: white;
  padding-bottom: 223px;
  .section-head{
    font-size: 24px;
    padding: 40px 0px 63px 0px;
    position: relative;
    text-transform: uppercase;
    font-family: "acta-display";
    font-weight: bold;
    &:after{
      display: block;
      content: '';
      width: 120px;
      border-bottom: 5px solid #881811;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }
  .contact-phone{
    font-family: "futura-pt";
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    margin-top: 63px;
    text-align: center;
  }
  .contact-text{
    font-family: "futura-pt";
    font-weight: normal;
    font-size: 22px;
    color:  black;
    margin-top: 20px;
    text-align: center;
  }
  .contact-form{
    margin-top: 57px;
    label{
      border-radius: 0;
      padding: 0 12px 0 0;
      font-weight: 700;
      font-size: 16px;
      color:  black;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    input.form-control{
      width: 100%;
      height: 50px;
      background: white;
      border-radius: 0;
      padding: 0 12px 0 20px;
      font-family: "futura-pt";
      font-size: 11px;
      color: #181818;
      text-transform: uppercase;
      letter-spacing: 2px;
      &::-webkit-input-placeholder {
        color: black;
      }
      &::-moz-placeholder {
        color: black;
      }
      &:-ms-input-placeholder {
        color: black;
      }
      &:-moz-placeholder {
        color: black;
      }
      &:focus{
        border: 1px solid #f5f5f5;
        box-shadow: none;
      }
    }
    textarea{
      background: white;
      border-radius: 0;
      padding: 20px 12px 0 20px;
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 11px;
      color: #181818;
      text-transform: uppercase;
      letter-spacing: 2px;
      &::-webkit-input-placeholder {
        color: black;
      }
      &::-moz-placeholder {
        color: black;
      }
      &:-ms-input-placeholder {
        color: black;
      }
      &:-moz-placeholder {
        color: black;
      }
      &:focus{
        border: 0;
        box-shadow: none;
      }
    }
    button.update-btn{
      width: 100%;
      height: 50px;
      background: #881811;
      border: 0;
      outline: 0;
      font-family:  "futura-pt";
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: white;
      cursor: pointer;
    }
  }
}
footer.site-footer{
  min-height: 640px;
  background: white;
  padding-top: 100px;
  padding-bottom: 30px;
  .munu-title{
    font-family: "acta-display";
    font-weight: 500;
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .menu-link{
    a{
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 14px;
      color: black;
      text-decoration: none;
    }
  }
  .subscrube-box{
    margin-top: 20px;
    .title{
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 13px;
      color: black;
    }
    .subscribe-form{
      margin-top: 30px;
      .subscribe-input{
        width: unquote("calc( 100% - 150px )");
        float: left;
        height: 40px;
        background: transparent;
        border: 2px solid black;
        outline: none;
        color: black;
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 12px;
        padding: 0 15px;
      }
      .subscribe-btn{
        width: 150px;
        height: 40px;
        font-family: "futura-pt";
        font-weight: lighter;
        font-size: 11px;
        color: white;
        background: black;
        border: 0;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 3px;
        float: left;
      }
    }
  }
  .links-soc{
    margin-top: 20px;
    a{
      color: black;
      text-decoration: none;
      margin-right: 15px;
      font-size: 18px;
      display: inline-block;
      
      &.help{
        border: 1px solid black;
        width: 14px;
        height: 14px;
        font-size: 10px;
        text-align: center;
        line-height: 14px;
      }
    }
    
  }
  .footer-bottom{
    border-top: 2px solid rgba($color: black, $alpha: 0.3);
    margin-top: 90px;
    .tramenarks{
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 14px;
      color: #484848;
      text-decoration: none;
      margin-top: 35px;
    }
    .policy{
      color: white;
      margin-top: 30px;
      a{
      font-family: "futura-pt";
      font-weight: lighter;
        font-size: 14px;
        color: black;
        text-decoration: none;
      }
    }
    .copyright{
      font-family: "futura-pt";
      font-weight: lighter;
      font-size: 14px;
      color: black;
      text-decoration: none;
      margin-top: 30px;
      text-align: right;
      span.company{
        text-transform: uppercase;
        b{
      font-family: "futura-pt";
      font-weight: lighter;
        }
      }
    }
  }
}

.home-slider{
  width: 100%;
  height: 100%;
  .slick-list{
    height: 100%;
    .slick-track{
      height: 100%;
      .item{
        outline: none;
        height: 100%;
        background: #000000;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
.sponsores-product-name{
    text-align: center !important;
    color: black;
    font-size: 20px !important;
    margin-top: 23px;
    margin-bottom: 7px;
    height: 30px;
}
.sponsores-product-price{
    font-family: "futura-pt" !important;
    font-weight: 300 !important;
    font-size: 25px !important;
}
@media( max-width: 991px ){
    
    .product-list{
        .product-item{
            .product-image{
                margin-bottom: 15px;
            }
        } 
    }
    .filter-item .refineby-category-items{
        font-size: 9px;
    }
    .sponsores-product-price{
        font-family: "futura-pt" !important;
        font-weight: 300 !important;
        font-size: 18px !important;
    }
    .sponsores-product-name{
        text-align: center !important;
        color: #ffffff;
        font-size: 16px !important;
        margin-top: 23px;
        margin-bottom: 7px;
        height: 28px;
    }
}
@media( max-width: 767px){

    section.product{
        .product-viewer{
            .images-right{
                height: 250px;
                width: 100%;
                .slick-track{
                    height: 250px;
                }
            }
            .thumbnail-left{
                width: 100%;
                .thumbnail{
                    height: 121px;
                }
            } 
        }
    }
    .product-list .product-item .product-items-decriptiom{
        border-right: none;
        margin-bottom: 25px;
    }
    section.newest-listed .product-item{
        margin-left: 0;
        margin-right: 0;
    }
    .product-item-other-img{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .sponsores-product-price{
        font-family: "futura-pt" !important;
        font-weight: 300 !important;
        font-size: 18px !important;
    }
    .sponsores-product-name{
        text-align: center !important;
        color: #ffffff;
        font-size: 16px !important;
        margin-top: 23px;
        margin-bottom: 7px;
        height: 35px;
    }
}