@font-face {font-family: "Acta Display W01 Black";
  src: url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.eot"); /* IE9*/
  src: url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.woff2") format("woff2"), /* chrome、firefox */
  url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.woff") format("woff"), /* chrome、firefox */
  url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./ActaDisplayW01Black/49e3dec9d34c9a7c972c954b8017ae63.svg#Acta Display W01 Black") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Acta Display W01 Bold";
  src: url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.eot"); /* IE9*/
  src: url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.woff2") format("woff2"), /* chrome、firefox */
  url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.woff") format("woff"), /* chrome、firefox */
  url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./ActaDisplayW01Bold/6a9e5fd2f52ecb70fcca3d5d49afaf68.svg#Acta Display W01 Bold") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Acta Display W01 Book";
  src: url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.eot"); /* IE9*/
  src: url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.woff2") format("woff2"), /* chrome、firefox */
  url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.woff") format("woff"), /* chrome、firefox */
  url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./ActaDisplayW01Book/2da53e7106d78ce56a7fa4b29ccaeee6.svg#Acta Display W01 Book") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Acta Display W01 Medium";
  src: url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.eot"); /* IE9*/
  src: url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  src: url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.woff2") format("woff2"), /* chrome、firefox */
  url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.woff") format("woff"), /* chrome、firefox */
  url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./ActaDisplayW01Medium/8c4531889fd0130577235dc03699df88.svg#Acta Display W01 Medium") format("svg"); /* iOS 4.1- */
}