.right-singin{
  height: 100vh;
  min-height: 600px !important;
  background: url('/images/auth-bg.png') center no-repeat, white;
}

.left-signup{
  min-height: 600px !important;
  background: url('/images/auth-bg.png') center no-repeat,  white;
}

.logo-img img{
  display: block;
  width: 70%;
  margin: 20vh auto 0 auto;
}

.question-text{
  font-family: "Acta Display W01 Medium";  
  font-size: 3vw;
  color:  black;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}
.for-user{
  font-size: 1.2vw;
  font-family: "futura-pt";
  font-weight: lighter;
  color: black;
  padding: 0 10% !important;
  text-align: center;
  margin-top: 40px;
}
.reidrect-btn{
  display: block;
  font-size: 1vw;
  line-height: 1vw;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  font-family: "futura-pt Light";
  color: black;
  border: 3px solid black;
  width: 60%;
  height: 5vh;
  min-height: 40px;
  max-height: 68px;
  margin: 50px auto 0 auto;
  text-decoration: none !important;
}
.reidrect-btn:hover{
  color: black;
  text-decoration: none;
}

.reidrect-btn:visited{
  color: black;
  text-decoration: none;
}

.auth-box{
  width: 478px !important;
  height: auto;
  margin: 0 0 50px 0; 
}
.site-login h1{
  font-size: 72px;
  color: #1B1B1B;
  margin-top: 15vh;
  text-align: center;
  font-family: "acta-display";
}
.site-signup h1{
  font-size: 72px;
  color: black;
  margin-top: 185px;
  text-align: center;
  font-family: "acta-display";
  font-weight: 300 !important;
}


.auth-box form{
  margin-top: 50px;
}
.form-group{
  margin-top: 40px;
}
.form-group input{
  width: 100%;
  height: 49px;
  text-align: center;
  font-size: 16px;
  font-family: "futura-pt";
  font-weight: lighter;
  letter-spacing: 2px;
  outline: none;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.18);
  color: #B8B8B8;
}

.form-group input::-webkit-input-placeholder {
  color: #B8B8B8;
  font-family: "futura-pt";
}
.form-group input::-moz-placeholder {
  color: #B8B8B8;
  font-family: "futura-pt";
}
.form-group input:-ms-input-placeholder {
  color: #B8B8B8;
  font-family: "futura-pt";
}
.form-group input:-moz-placeholder {
  color: #B8B8B8;
  font-family: "futura-pt";
}
.form-group .help-block{
  font-size: 13px;
  font-family: "futura-pt Light";
  margin-top: 10px;
}

.form-group button[type=submit]{
  width: 100%;
  background: #881811;
  height: 60px;
  font-size: 18px;
  font-family: "futura-pt" !important;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 34px;
}
.after-form{
  font-size: 13px;
  font-weight: 300;
  margin-top: 106px;
  text-align: center;
}
.after-form .text{
  color: #000000;
  font-family: "futura-pt";
  letter-spacing: 0.5px;
}
.after-form a{
  color: #881811;
  font-weight: bold;
  text-decoration: none !important;
  font-family: "futura-pt";
}
.after-form a:hover{
  color: #881811;
  text-decoration: none;
}
.after-form a:visited{
  color: #881811;
  text-decoration: none;
}

.site-login .xs-block .logo-img img{
    margin-top: 32px !important;
    width: 201px;
  }

@media (max-width: 576px) {
  .site-login h1{
    margin-top: 105px !important;
    font-size: 25px;
    margin-bottom: 58px;
  }
  .auth-box{
    width: 239px !important;
    margin-bottom: 10px !important;
  }
  .form-group{
    margin-top: 0px;
  }
  .auth-box form{
    margin-top: 0px;

  }
  .form-group input{
    height: 26px;
    width: 239px !important;
    letter-spacing:0.3px;
    padding-top: 0px ;
    margin-bottom: 28px;
  }
  .form-group input::-webkit-input-placeholder {
    font-size: 7px;
  }

.form-group input::-moz-placeholder {
    font-size: 7px;
}
.form-group input:-ms-input-placeholder {
    font-size: 7px;
}
.form-group input:-moz-placeholder {
    font-size: 7px;
}
  .form-group button[type=submit]{
    border-radius: 0px;
    width: 239px;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 11px;
    padding-top: 0px;
  }
  .after-form{
    margin-top: 57px;
    font-size: 6px;
  }
  #login-form .form-group.has-danger input{
    border:1px solid #881811;
  }
  .site-signup h1{
    margin-top: 105px !important;
    font-size: 25px;
    margin-bottom: 38px;
    color: #000000;

  }
  .site-signup .left #form-signup .form-group input{
    margin-bottom: 29px;
    margin-top: 0px;
    height: 26px;

  }
  .site-signup .left #form-signup .form-group button{
    height: 36px;
    padding-top: 5px;
  }
   .site-login .xs-block .form-group button{
    height: 36px;
  }s
}
.site-signup .left .logo-img img{
    margin-top: 32px !important;
    width: 201px;
  }
